/* rem and em do NOT  depend on html font-size  in media queries !
Instead, 1rem = 1em = 16px */


/* BELOW 1344px (smaller desktops) */

@media (max-width: 84em) {
    .left {
        width: 25rem;
    }
    .right {
        width: 25rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .number {
        font-size: 3.5rem;
        width: 14rem;
    }
    .message {
        font-size: 2.5rem;
    }
    .label-highscore {
        font-size: 2rem;
    }
    .label-score {
        font-size: 2.3rem;
    }
    .between {
        font-size: 2rem;
    }
}

/* BELOW 1200px (landscape tablets) */ 

@media (max-width: 75em) {
    html {
        font-size: 43.75%;
    }
    h1 {
        font-size: 3rem;
    }
    .number {
        font-size: 2.9rem;
        width: 13rem;
    }
    .message {
        font-size: 2.4rem;
    }
    .label-highscore {
        font-size: 2.5rem;
    }
    .label-score {
        font-size: 3rem;
    }
    .between {
        font-size: 2.5rem;
    }
}

/* BELOW 944px (tablets) */ 

@media (max-width: 59em) {
    h1 {
        font-size: 2.5rem;
    }
    .number {
        font-size: 2.5rem;
        width: 12rem;
    }
    .message {
        font-size: 2.3rem;
    }
    .label-highscore {
        font-size: 2.4rem;
    }
    .label-score {
        font-size: 2.9rem;
    }
    .between {
        font-size: 2.2rem;
    }
    .again {
        font-size: 1.9rem;
    }
}

/* BELOW 704px (Smaller tablets ) */ 

@media (max-width: 44em) {
    h1 {
        font-size: 2.3rem;
    }
    .label-highscore {
        font-size: 2.2rem;
    }
    .label-score {
        font-size: 2.6rem;
    }
    .between {
        font-size: 2rem;
    }
}

/* BELOW 544px (Phones) */ 

@media (max-width: 34em) {
    h1 {
        font-size: 2rem;
    }
    .message {
        font-size: 2rem;
        margin-left: 5rem;
    }
    .label-highscore {
        font-size: 2rem;
        margin-left: 5rem;
    }
    .label-score {
        font-size: 2.4rem;
        margin-left: 5rem;
    }
    .between {
        font-size: 1.8rem;
    }
    .again {
        font-size: 1.8rem;
    }
    .guess {
        padding: 2rem;
        margin-left: 3rem;
    }
    .check {
        margin-left: 3rem;
    }
}